<div class="container d-flex flex-wrap justify-content-center">
{% for address in addresses["features"] %}
    <div class="card m-3" style="width: fit-content;">
        <div class="card-body">
            <h5 class="card-title">{{ address["properties"]["type"]|trans}} : {{ address["properties"]["label"] }}</h5>
            <p class="card-text">Voici quelques informations supplémentaire sur cet emplacement :</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Code postal : {{ address["properties"]["postcode"]}}</li>
            <li class="list-group-item">Département : {{ address["properties"]["context"]}}</li>
            <li class="list-group-item">Latitude : {{ address["geometry"]["coordinates"][1]}}</li>
            <li class="list-group-item">Longitude : {{ address["geometry"]["coordinates"][0]}}</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('app_address_add', {address:address}) }}" class="btn btn-primary card-link">Ajoutez aux emplacements favoris</a>
            <a href="{{ path('app_weather_index', {id:0, address:address}) }}" class="btn btn-primary card-link">Consultez la météo</a>
        </div>
    </div>
{% endfor %}
</div>