<div class="currentWeather text-center">
    <h2 class="mt-5">Informations instantanées sur l'emplacement : {{ locationLabel ?? 'Reims' }}</h2>
    <p>(Position de l'emplacement : latitude : {{ latitude }}, longitude : {{ longitude }})</p>
    <h1>{{ currentWeatherContent['current']['temperature_2m'] }}{{ currentWeatherContent['current_units']['temperature_2m'] }}</h1>
    <p>Min : {{ currentWeatherContent['daily']['temperature_2m_min'][0] }}{{ currentWeatherContent['daily_units']['temperature_2m_min'] }} | Max : {{ currentWeatherContent['daily']['temperature_2m_max'][0] }}{{ currentWeatherContent['daily_units']['temperature_2m_max'] }}</p>
    {{ weatherIcon | raw }}
    <p>{{ weatherDescription }}</p>
    <p>Taux d'humidité actuel : {{ currentWeatherContent['current']['relative_humidity_2m'] }}{{ currentWeatherContent['current_units']['relative_humidity_2m'] }}</p>
    <p>Vitesse moyenne du vent : {{ currentWeatherContent['current']['wind_speed_10m'] }}{{ currentWeatherContent['current_units']['wind_speed_10m'] }}</p>
    <p>Direction du vent : {{ currentWeatherContent['current']['wind_direction_10m'] }}{{ currentWeatherContent['current_units']['wind_direction_10m'] }}</p>
    <p>Heure de la dernière mise à jour : {{ currentWeatherContent['current']['time']|date_modify("+1 hour")|date('H:i')}}</p>
</div>